Flask
openai==0.27.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
google-cloud-speech
amadeus
elevenlabs
speechrecognition==3.8.1
Flask-Session  
redis
redis>=4.0.0














